{% extends 'goods/base.html' %}

{% block content %}

<div class="container  text-center" style="width: 1000px; margin-top: 20px;">
    <div class="row  align-items-start">
      <h2 class="head">Изменения пароля</h2>
      <div class="col">
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {% for f in form %}
                <label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label><p>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
                {% endfor %}
                <button class="btn btn-primary" type="submit">Изменить пароль</button>
            </form>
          </div>
      </div>
    </div>
  </div>

{% endblock %}    